/* ************ Schriften zum einfügen */
/* 

font-family: SchriftNormal , sans-serif;

font-family: SchriftSchraeg , sans-serif;

font-family: SchriftDick , sans-serif;

*/









/* ********************* font Familiy Schriften einbinden *********** */

@font-face {
    font-family: SchriftSchraeg;
    src: url("../fonts/Karla/Karla-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: SchriftNormal;
    src: url("../fonts/Karla/Karla-VariableFont_wght.ttf");
}

@font-face {
    font-family: SchriftDick;
    src: url("../fonts/Karla/static/Karla-Bold.ttf");
}

/* ******************** Schriften angewendet ******************* */

h1,
h2,
h3,
h4,
h5,
p,
a {
    font-family: SchriftNormal, sans-serif;

}














/* ********************** Browser default style auf 0 setzen **************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






/* ********************** html setzen ***************** */

html {
    font-size: 16px;
    max-width: 1440px;
    scroll-behavior: smooth;
}




/* ******************* img verkleinern, damit es anfangs nicht alles zerschiest ******* */

img {
    width: 300px;

}



/* **************************** body *********************** */
/* **************************** body *********************** */
/* **************************** body *********************** */

body {
    padding: 5vh 5vw 2vh 5vw;
}




/* **************************** header *********************** */
/* **************************** header *********************** */
/* **************************** header *********************** */

header {
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5vh;
}

header>h1 {
    background-color: aqua;
    font-size: 1.4rem;
    font-family: SchriftDick , sans-serif;

}

header>nav {
    background-color: goldenrod;

    width: 30vw;
    display: flex;
    justify-content: space-between;
}

header>nav>a {
    background-color: yellow;
    justify-content: space-between;
    text-decoration: none;

}


/* ************* Text hover Effekt  ************* */

header>h1:hover,
header>nav>a:hover {
    filter: saturate(2%) grayscale(95%) contrast(20%) brightness(1.4);
    /* * graut Text ein :-(  */
    border-radius: 20vw;

}




/* **************************** main *********************** */
/* **************************** main *********************** */
/* **************************** main *********************** */





/* *************************   erster   Block  -     sieben Bilder zusammen ********************* */
/* *************************   erster   Block  -     sieben Bilder zusammen ********************* */
/* *************************   erster   Block  -     sieben Bilder zusammen ********************* */


.siebenBilderZusammen {
    max-width: 100%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    /* * bricht Bilder um */
    justify-content: space-between;
    /* * macht Spalte zwischen Bildern */
}


.einzelnesBild>a>img {
    background-color: orange;
    width: 100%;
}




.einzelnesBild {
    background-color: green;
    width: 32%;
    /* * macht die 6 Bilder klein */
}


.einzelnesBild--breit {
    background-color: blue;
    width: 100%;
    /* * macht das große wieder groß
                                            * wichtig muss nach .einzelBild
                                            * kommen, da es zuerst auch 30% ist  */

}




/* ************* Bild hover Effekt  ************* */

.einzelnesBild>a>img:hover {
    filter: saturate(2%) grayscale(95%) contrast(20%) brightness(1.4);
    /* * graut Bilder ein :-(  */

    border-radius: 50vw;

}





/* ************************ figcaption Bild Unterschriften **************** */

.sectionBildUnterschriften {
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    /* * macht Abstand zu Bild Unterschrift */
    padding-bottom: 4vh;
    /* * macht Abstand von Text zu Bild drunter */
}

.sectionBildUnterschriften>figcaption>h3 {
    background-color: aqua;
    font-size: 1.2rem;
}

.sectionBildUnterschriften>figcaption>h5 {
    background-color: blueviolet;
    color: #848484;
    font-size: 1rem;
    margin-top: 0.5vh;
    /* * macht Abstand nach obenzur großen Unterschrift */
}

.sectionBildUnterschriften>figcaption>h4 {
    background-color: antiquewhite;
    font-size: 1.15rem;
}

.sectionBildUnterschriften>figcaption>h4::before {
    content: " $ ";
}





/* **************************** footer *********************** */
/* **************************** footer *********************** */
/* **************************** footer *********************** */


/* *********** Grid Area     4 Spalten 3 Zeilen ************* */
footer>section {
    background-color: red;
    width: 90%;
    /* * damit Footer nur bis ca. mitte 3tes Bild geht */
    padding-top: 5vh;
    /* * damit Abstand zu Bildunterschriften kommt */
    display: grid;


    grid-template-columns: 3fr 1fr 2fr 2fr;
    grid-template-rows: 2fr 4fr 1fr;            /* * Pos1 2fr= damit Abstand von Zeile 1 zu Zeile 2 kommt */

    grid-template-areas:
        "head1 head2 head3 head4"
        "text1 text2 text3 text4"
        "foot1 foot2 foot3 foot4"

    ;
    row-gap: 2vh;           /* * Zeilen Abstand  */
    column-gap: 2vw;        /* * Spalten Abstand */



}




/* **************** footer alle   p   Schriftgröße   */
foote>section>p{
    font-size: 1rem;
}


/* ************* Spalte 1 ************** */

.designShop {
    background-color: yellow;
    grid-area: head1;

    font-size: 1.1rem;
    font-family: SchriftDick , sans-serif;
}

.designShop__textMitte {
    background-color: greenyellow;
    grid-area: text1;
width: 82% ;                /* * damit Umbruch nach Wort "store" entsteht */
}

.designShop__textMitte>span{
    font-family: SchriftDick , sans-serif;    font-size: 1.05rem;
    line-height: 1.5;

}

.designShop__textUnten {
    background-color: green;
    grid-area: foot1;

    color: #848484;
    font-size: 0.8rem;
}






/* ************* Spalte 2 ************** */

.contact {
    background-color: yellow;
    grid-area: head2;
}

.contact__textMitte {
    background-color: greenyellow;
    grid-area: text2;

    text-decoration: none;
    font-family: SchriftDick , sans-serif;
    line-height: 1.5;

}






/* ************* Spalte 3 ************** */

.newsLetter {
    background-color: yellow;
    grid-area: head3;
}

.newsLetter__textMitte {
    background-color: greenyellow;
    grid-area: text3;

    width: 79%;                   /* * Damit es nach Wort "subscribe" umbricht */
    line-height: 1.5;
}
.newsLetter__textMitte>a{
    background-color: red;
    font-family: SchriftDick , sans-serif;
    text-decoration: none;
    font-size: 1rem;

}

.newsLetter__textMitte>span{
    background-color: violet;
    font-family: SchriftSchraeg , sans-serif;

}






/* ************* Spalte 4 ************** */

.findUs {
    background-color: yellow;
    grid-area: head4;
}

.findUs__textMitteNav {
    background-color: greenyellow;
    grid-area: text4;
    display: flex;
    flex-direction: column;
}

.findUs__textMitteNav>a{
    text-decoration: none;
    line-height: 1.5;

}



/* ******************* media Queries Start ******************* */
/* ******************* media Queries Start ******************* */
/* ******************* media Queries Start ******************* */

@media only screen and (max-width: 600px) {
    




































    
}/*  */
/* ******************* media Queries Ende ******************* */
/* ******************* media Queries Ende ******************* */
/* ******************* media Queries Ende ******************* */