/* ************ Schriften zum einfügen */
/* 

font-family: SchriftNormal , sans-serif;

font-family: SchriftSchraeg , sans-serif;

*/









/* ********************* font Familiy Schriften einbinden *********** */

@font-face {
    font-family: SchriftSchraeg;
    src: url("../fonts/Karla/Karla-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: SchriftNormal;
    src: url("../fonts/Karla/Karla-VariableFont_wght.ttf");
}



/* ******************** Schriften angewendet ******************* */

h1,
h2,
h3,
h4,
h5,
p,
a {
    font-family: SchriftNormal, sans-serif;

}














/* ********************** Browser default style auf 0 setzen **************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






/* ********************** html setzen ***************** */

html {
    font-size: 16px;
    max-width: 1440px;
    scroll-behavior: smooth;
}




/* ******************* img verkleinern, damit es anfangs nicht alles zerschiest ******* */

img {
    width: 300px;

}



/* **************************** body *********************** */
/* **************************** body *********************** */
/* **************************** body *********************** */

body {
    padding: 5vh 5vw 1vh 5vw;
}




/* **************************** header *********************** */
/* **************************** header *********************** */
/* **************************** header *********************** */

header {
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5vh;
}

header>h1 {
    background-color: aqua;
    font-size: 1.4rem;

}

header>nav {
    background-color: goldenrod;

    width: 30vw;
    display: flex;
    justify-content: space-between;
}

header>nav>a {
    background-color: yellow;
    justify-content: space-between;
    text-decoration: none;

}


/* ************* Text hover Effekt  ************* */

header>h1:hover, header>nav>a:hover{
    filter:saturate(2%) grayscale(95%) contrast(20%) brightness(1.4) ;
            /* * graut Text ein :-(  */
            border-radius: 20vw;
    
    }




/* **************************** main *********************** */
/* **************************** main *********************** */
/* **************************** main *********************** */





/* *************************   erster   Block  -     sieben Bilder zusammen ********************* */
/* *************************   erster   Block  -     sieben Bilder zusammen ********************* */
/* *************************   erster   Block  -     sieben Bilder zusammen ********************* */


.siebenBilderZusammen {
    max-width: 100%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    /* * bricht Bilder um */
    justify-content: space-between;
    /* * macht Spalte zwischen Bildern */
}


.einzelnesBild>a>img {
    background-color: orange;
    width: 100%;
}




.einzelnesBild {
    background-color: green;
    width: 32%;
    /* * macht die 6 Bilder klein */
}


.einzelnesBild--breit {
    background-color: blue;
    width: 100%;
    /* * macht das große wieder groß
                                            * wichtig muss nach .einzelBild
                                            * kommen, da es zuerst auch 30% ist  */
    
}




/* ************* Bild hover Effekt  ************* */

.einzelnesBild>a>img:hover{
filter:saturate(2%) grayscale(95%) contrast(20%) brightness(1.4) ;
        /* * graut Bilder ein :-(  */

        border-radius: 50vw;

}





/* ************************ figcaption Bild Unterschriften **************** */

.sectionBildUnterschriften {
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    /* * macht Abstand zu Bild Unterschrift */
    padding-bottom: 4vh;
    /* * macht Abstand von Text zu Bild drunter */
}

.sectionBildUnterschriften>figcaption>h3 {
    background-color: aqua;
    font-size: 1.2rem;
}

.sectionBildUnterschriften>figcaption>h5 {
    background-color: blueviolet;
    color: #848484;
    font-size: 1rem;
    margin-top: 0.5vh;
    /* * macht Abstand nach obenzur großen Unterschrift */
}

.sectionBildUnterschriften>figcaption>h4{
    background-color: antiquewhite;
    font-size: 1.15rem;
}

.sectionBildUnterschriften>figcaption>h4::before{
    content: " $ ";
}





/* **************************** footer *********************** */
/* **************************** footer *********************** */
/* **************************** footer *********************** */

footer>section{
    background-color: red;
    width: 85%;         /* * damit Footer nur bis ca. mitte 3tes Bild geht */
    display: flex;      /* * damit 4 Texte/article nebeneinander */
    justify-content:space-between;
    padding-top: 5vh;       /* * damit Abstand zu Bildunterschriften kommt */
}

.footerBlockSpalte__designShop{
    background-color: aqua;

}